@(message: String)

@main("¿Que comemos hoy?") {

    <h1>Ingrese sus datos</h1>
    <form action="@routes.UsuarioControl.addReceta()" method="POST">
    	<label>Nombre</label><input type="text" name="nombre"></input> 
    	<br />
    	
	 Dificultad
	<select name="Dificultad">
   		 <option value="1">Facil</option>
    		 <option value="2" selected>Media</option>
   		 <option value="3">Dificil</option>
   		 <option value="4">Muy Dificil</option>
  	</select>
 	 <br><br>
    	<input type="submit" value="Ingresar"></input>
    	
    	<input type="submit" value="Ingresar"></input>
    	
	</form>
}
